body {
    background-image: url(https://www.mediasource.mx/hubfs/blog-files/fondos-web.jpg#keepProtocol);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}